*.dylib
*.o
*.os
*.pyc
*.so
.sconf_temp
.sconsign.dblite
config.log
doc/htmlDir
tests/.tests
ups/*.cfgc
python/lsst/sims/maf/version.py
*.png
*.fits
*.npz
*tmp.sqlite
op*_sqlite.db
*maf_config_asRan.py