*.dylib
*.o
*.os
*.pyc
*.so
.sconf_temp
.sconsign.dblite
config.log
bin/
doc/htmlDir
tests/.tests
ups/*.cfgc
doc/build
python/lsst/sims/maf/version.py
*.pdf
*.png
*.gif
*.mp4
*.fits
*.npz
*tmp.sqlite
op*_sqlite.db
*maf_config_asRan.py
*~
