{% extends "master.html" %}


{% block moresidebar %}

{% if 'all' in metricIds.keys() %}
  {% set metricIds = run.allMetricIds() %}
{% endif %}

</br>
</br>

{% set selectGroups = run.groupWithMetricIds(metricIds.keys()) %} 

{% for g in selectGroups.keys() %} 
  {% for sg in selectGroups[g] %}
    <a href="#{{g}}_{{sg}}">{{g}} : {{sg}}</a><br>
 {% endfor %}
{% endfor %}

{% endblock %}


{% block content %}

{% if 'all' in metricIds.keys() %}
  {% set metricIds = run.allMetricIds() %}
{% endif %}

{# show metric information for each metric selected from 'select' page #}

{% set selectGroups = run.groupWithMetricIds(metricIds.keys()) %}
{% for g in selectGroups.keys() %}
 {% for sg in selectGroups[g] %}
  <a name = "{{g}}_{{sg}}"> </a>
  {% set subsetMetricIds = run.metricIdsInSubgroup(metricIds.keys(), g, sg) %}
  {% for metricId in subsetMetricIds %}  
  {% set metric = run.metricWithMetricId(metricId) %}   
  {% set plotdict = run.plotsForMetric(metric) %}
  {% set metricInfo = run.metricInfo(metric) %}
   <div>
    <b>
  {% for key in metricInfo %}
   {{ '%s' %(metricInfo[key][0]) }}  /
  {% endfor %}
  </b>

  {# Add the plots for this metric #}
  {% if plotdict|length > 0 %}
    <p>
    </br>
  {% for ptype, pfile in plotdict.iteritems() %}
    {% set plotfile = run.getPlotfile(pfile) %}
    {% set thumbfile = run.getThumbfile(pfile) %}
    <a href="{{plotfile}}"> 
          <img class="thumbnail" src='{{thumbfile}}'></a>
  {% endfor  %}
   </p>
  {% endif %}

   <p>
  {% set caption = run.captionForMetric(metric) %}
  {{ caption }}
  </p>

  {# Add the summary stats for this metric #} 
  {% set stats = run.statsForMetric(metric) %}
  {% set statdict = run.statDict(stats) %}
  <table class="blank">
  {% for name in statdict.keys() %}
   <tr>
   <td class="blank">
   <i>{{ name }}:</i>
   </td>
   <td class="blank">
   {% if name == 'Count' %}
      {{ '%d'|format(statdict[name]) }}
   {% else %}
      {{ '%.2f'|format(statdict[name])}}
   {% endif %}
   </td> 
   </tr>
  {% endfor %}
   </table>
  </div>
  <hr>
  {% endfor %}
 {% endfor %}
{% endfor %}


{% endblock %}
