{% extends "master.html" %}
{% block content %}

{# show metric information for each metric selected from 'select' page #}

{% set metricIds = run.orderMetricIds(metricIds) %}

{% for mId in metricIds %} 
  {% set metric = run.metricWithMetricId(mId) %}
  {% set plotdict = run.plotsForMetric(metric) %}
  {% set metricInfo = run.metricInfo(metric) %}
   <h4 class="text_line">
  {% for key in metricInfo %}
   {{ '%s' %(metricInfo[key][0]) }}  /
  {% endfor %}
   </h4>

  {# Add the plots for this metric #}
  {% for ptype, pfile in plotdict.iteritems() %}
  {% set thumbfile = run.getThumbname(pfile) %}
  <a href='{{ run.outDir }}/{{ plotfile }}'> 
         <img class="thumbnail" src='{{ run.outDir }}/{{thumbfile}}'> </a>
  {% endfor  %}

  <h4 class="text_line"> </h4>
  
  {# Add the summary stats for this metric #} 
  {% set stats = run.statsForMetric(metric) %}
  {% set statdict = run.statDict(stats) %}
  {% for name in statdict.keys() %}
    &#160;&#160;&#160;&#160;&#160
    <i>{{ name }}:</i> 
    {{ '%.2f' %(statdict[name]) }}  <br>
  {% endfor %}
  </p>
  <hr>
{% endfor %}


{% endblock %}
