{% extends "master.html" %}

{% set active_page = "multicolor" %}

{% set run = runlist.getRun(runId) %}

{% set metrics = run.metrics %}

{% block moresidebar %}

<ul>
{% for g in run.groups.keys() %}
  {% set groupstart = True %}
  {% for sg in run.groups[g] %}
   {% set subsetMetrics = run.metricsInSubgroup(g, sg) %}
   {% set skysetMetrics = run.metricsWithPlotType(plotType='SkyMap', metrics=subsetMetrics) %}
   {% set combosetMetrics = run.metricsWithPlotType(plotType='ComboHistogram', metrics=subsetMetrics) %}
   {% set statNames = run.allStatNames(subsetMetrics) %}  
   {% set displaygroup = skysetMetrics|length + combosetMetrics|length 
    + statNames|length %}
   {% if displaygroup > 0 %} 
      {% if groupstart == True %}
        <li>
        <a href="#{{g}}">{{g}}</a>
        <div id='indent'><a href="#{{g}}_{{sg}}">{{sg}}</a></div>
        {% set groupstart = False %}
      {% else %}
        <div id='indent'><a href="#{{g}}_{{sg}}">{{sg}}</a></div>	  
      {% endif %}
    {% endif %}
  {% endfor %}
    </li>
{% endfor %}
</ul>
{% endblock %}


{% block content %}

{% set metricInfo = run.metricInfo(run.metrics[0]) %}
{% set ninfo = metricInfo|length %}

{% for g in run.groups.keys() %}
 {% set groupstart = True %}
 {% for sg in run.groups[g] %}
   {# Get the metrics, skymaps and combo histograms in this subgroup. #}
   {% set subsetMetrics = run.metricsInSubgroup(g, sg) %}
   {% set skysetMetrics = run.metricsWithPlotType(plotType='SkyMap', metrics=subsetMetrics) %}
   {% set combosetMetrics = run.metricsWithPlotType(plotType='ComboHistogram', metrics=subsetMetrics) %}
   {% set statNames = run.allStatNames(subsetMetrics) %}  

   {% set displaygroup = skysetMetrics|length + combosetMetrics|length 
    + statNames|length %}
    {% if displaygroup > 0 %} 
     {# then show this group ... #}
     
   {% if groupstart == True %}
      <a name = "{{g|escape}}" ></a>
      {% set groupstart = False %}
   {% endif %}
   <p>
   <a name = "{{g|escape}}_{{sg|escape}}"><b>{{g|escape}} : {{sg|escape}}</b> </a>
   </p>

   {% set metricNames = run.metricNames(skysetMetrics, baseonly=True) %}
   {% for mname in metricNames %}
     {% set mskyset = run.metricsWithMetricName(mname, skysetMetrics, baseonly=True) %}
     {% set skymaps = run.getSkyMaps(mskyset) %}
      <div id='metricset'>
       {{ mname }} </br>
       {% for skymap in skymaps%}
        {% set plotfile = run.getPlotfile(skymap) %}
        {% set thumbfile = run.getThumbfile(skymap) %}
          <a href="{{plotfile}}"> <img class="sm_thumbnail" src='{{thumbfile}}'></a>
       {% endfor  %}
      </div>
   {% endfor %}


   {% for m in combosetMetrics %}
     {% set comboplots = run.plotsForMetric(m) %}
     {% set combohist = comboplots['ComboHistogram'] %}
      <div id='metricset'>
	{% set metricInfo = run.metricInfo(m) %}
        {{ metricInfo['MetricName']|escape }} ({{ metricInfo['Slicer']|escape}}) </br>
        {% set plotfile = run.getPlotfile(combohist) %}
        {% set thumbfile = run.getThumbfile(combohist) %}
          <a href="{{plotfile}}"> <img class="sm_thumbnail"   src='{{thumbfile}}'></a>
	</div>
   {% endfor  %}
      
  {% if statNames|length > 0 %}
    <div id='metricset'>
   {% set ncols = statNames|length + ninfo %}
   <table>
   <tr class="lightestgray"> 
   <td colspan={{ncols}}>
    Group: <i>{{g }}</i>; Subgroup: <i>{{ sg }}</i>
   </td>
   </tr>
       
    <tr>
    {% for key in metricInfo %}
      <th>{{ key }} </th>
    {% endfor %}
    {% for name in statNames %}
      <th> {{name|escape}} </th>
    {% endfor %}
     </tr>

     {% for metric in subsetMetrics %}
        {% set metricInfo = run.metricInfo(metric) %}
        {% set stats = run.statsForMetric(metric) %}
	{% set statDict = run.statDict(stats) %}
        {% if statDict|length > 0 %}
           <tr>
           {% for key in metricInfo %}
           <td>{{ metricInfo[key]|escape }}</td>
           {% endfor %}
 	   {% for statName in statNames %}
	    <td>
	      {% if statName in statDict.keys() %}
	        {% if statName == 'Count' or statName == 'm3Sigma' or
          statName=='p3Sigma' or 'TableFraction' in statName %} 
                  {{ '%d'|format(statDict[statName]) }}
	        {% else %}
                  {{ '%.2f'|format(statDict[statName]) }}
	        {% endif %}
	     {% else %}
	        {{ '--' }}
	     {% endif %}
	    </td>
	   {% endfor %}
	   </tr>
	   {% endif %}
      {% endfor %}	   
      </table>
      </div>
     {% endif %}      

  {% endif %}      
 {% endfor %}
{% endfor %}

{% endblock %}
