{% extends "master.html" %}

{% if runId < 0 %}
  {% set runId = runlist.runs['mafRunId'][0] %}
{% endif %}

{% block pagetitle %}
Opsim Run Select
{% endblock %}

{% block title %}
List of all Opsim Runs
{% endblock %}

{% set active_page = "listRuns" %}

{% block moresidebar %}
<form name="RunSelect" action="metricSelect" method="get" >
</br>
</br>
<center><input id='mybutton' type='submit' value='Select Run'></center>
{% endblock %}

{% block content %}

<table class="sortable">
<tr>
<th> </th>
{# Get basic run info to include into table (for table header) #}
{% set runInfo = runlist.runInfo(runlist.runs[0]) %}
{% for key in runInfo %}
  <th> {{ key|escape }} </th>
{% endfor %}
</tr>


{# Show run info for each run #}
{% for run in runlist.runs %}
  {% set runInfo = runlist.runInfo(run) %}
  <tr>
  <td sorttable_customkey="{{run['mafRunId']}}">
  <input type='radio' name="runId" value="{{run['mafRunId']}}">
  </td>
  {% for key in runInfo %}
  <td>{{ runInfo[key]|escape }}</td>
  {% endfor %}
  </tr>
{% endfor %}

</form>

</table>

{% endblock %}
