{% extends "master.html" %}

{% if runId < 0 %}
  {% set runId = runlist.runs['mafRunId'][0] %}
{% endif %}

{% block pagetitle %}
Opsim Run Select
{% endblock %}

{% block title %}
List of all Opsim Runs
{% endblock %}

{% set active_page = "listRuns" %}

{% block moresidebar %}

{% endblock %}

{% block content %}

<table class="sortable">
<tr>
<th class="sorttable_nosort"> </th>
{# Get basic run info to include into table (for table header) #}
{% set runInfo = runlist.runInfo(runlist.runs[0]) %}
{% for key in runInfo %}
  <th> {{ key|escape }} </th>
{% endfor %}
</tr>


{# Show run info for each run #}
{% for run in runlist.runs %}
  {% set runInfo = runlist.runInfo(run) %}
  <tr>
  <td>
    <a href="metricSelect?runId={{run['mafRunId']}}">{{run['mafRunId']}}</a>
  </td>
  {% for key in runInfo %}
    {% if key == 'OpsimRun' %}
      <a href="metricSelect?runId={{run['mafRunId']}}"> <td>{{ runInfo[key]|escape }}</td> </a>
    {% else %}
      <td>{{ runInfo[key]|escape }}</td>
    {% endif %}
  {% endfor %}
  </tr>
{% endfor %}


</table>

{% endblock %}
