<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html ng-app="searchMetrics">
<head>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/smart-table.js"></script>
    <script type="text/javascript" src="js/search_controller.js"></script>

    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.css" />    
    <link rel="stylesheet" href="css/jquery-ui.css" />
    <link rel="stylesheet" href="css/jquery-ui.structure.css" />
    <link rel="stylesheet" href="css/jquery-ui.theme.css" />
    <link rel="stylesheet" href="css/search_style.css" />

    <title></title>
</head>
<body ng-controller="searchController">
<div id="loading" style="position:fixed;top:0;left:0;right:0;bottom:0;z-index:10000;background-color:gray;background-color:rgba(70,70,70,0.2);"><img style="position:absolute;top:50%;left:50%;" alt="" src="ajax-loader.gif" /></div>
<div id="header">

</div>


<div id="content">
    <div id="filter">

    <h4>Search</h4>
    <form class='form-group'  ng-submit="search()">
        Metric Name: <br />
        <input type='text' id="name" />
        <br />
        <br />
        OpSim Run:
            <div id="sim_data">
                <div ng-repeat="s in sim_data">
                    <label><input type='checkbox' value="{$ s $}" /> {$ s $}</label>
                </div>
            </div>
        <br />
        Slicer:
            <div id="slicer">
                <div ng-repeat="s in slicer">
                    <label><input type='checkbox' value="{$ s $}" /> {$ s $}</label>
                </div>
            </div>
        <input type='submit' id="search" value="search" />
        <input type='reset' id="clear" value="reset" ng-click="reset()" />
    </form>
        <hr />

        <h4>Control</h4>
        <label><input type="checkbox" ng-model="show_data" > Show plots/stats</label>
    </div>

    <div id="results">
        <!--
        <div id="navigator">
            <ul>
                <li><a href="#tabs-1">Metrics</a></li>
                <li><a href="#tabs-2">All results</a></li>
                <li><a href="#tabs-3">Multi-Color</a></li>
            </ul>
        </div>
        -->
    <table st-table="metric_list" st-safe-src="metrics" class="table table-striped">
        <thead>
            <tr>
                <th colspan=8  class='filter-bar'>
                    <form>
                    <input st-search="" class="form-control filter-box" placeholder="Filter search results in all fields" type="text"/>
                    <input type="reset" st-reset-search value="reset" class="btn btn-default" id="filter-reset">
                    </form>
                </th>
			</tr>
            <tr>
                <th class="col-5" st-sort="mafRunId">Run Id</th>
                <th class="col-5" st-sort="metricId">Metric Id</th>
                <th class="col-10" st-sort="simDataName">Opsim Run</th>
                <th class="col-10" st-sort="displayGroup">Group</th>
                <th class="col-10" st-sort="displaySubGroup">Subgroup</th>
                <th class="col-20" st-sort="metricName">Metric</th>
                <th class="col-10" st-sort="slicerName">Slicer</th>
                <th class="col-30" st-sort="metricMetadata">Meta</th>
            </tr>
        </thead>

        <tbody ng-repeat="metric in metric_list">

            <tr>
            <td class="col-5">{$ metric.mafRunId $}</td>
            <td class="col-5">{$ metric.metricId $}</td>
            <td class="col-10">{$ metric.simDataName $}</td>
            <td class="col-10">{$ metric.displayGroup $}</td>
            <td class="col-10">{$ metric.displaySubgroup $}</td>
            <td class="col-20">{$ metric.metricName $}</td>
            <td class="col-10">{$ metric.slicerName $}</td>
            <td class="col-30">{$ metric.metricMetadata $}
            </tr>
            <tr ng-if="show_data">
            <td class="data" colspan=8>
                <div class="plots" ng-if="metric.plots">
                    <div class="caption">{$ metric.displayCaption $}</div>
                    <a ng-repeat="plot in get_plots(metric)" href="{$ get_pdf_path(metric, plot) $}" target="_blank">
                        <img class="plot" ng-src="{$ get_thumb_path(metric, plot) $}" />
                    </a>
                </div>
                <div class="stats" ng-if="metric.stats">
                    <strong>Summary stats</strong>
                    <div ng-repeat="stat in metric.stats" class="row">
                        <div class="col-md-2">{$ stat.summaryName $}</div>
                        <div class="col-md-10">{$ stat.summaryValue $}</div>
                    </div>
                </div>
            </td>
            </tr>


        </tbody>

        <tfoot>
            <tr>
				<td colspan=8 class="search-bar text-center">
					<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="15"></div>
				</td>
			</tr>
		</tfoot>
        </table>
    </div>


</div>
    
    
    <div id="footer"></div>
</body>
</html>
