{% extends "master.html" %}

{% block moresidebar %}

</br>
</br>
{% for group in run.groups %}
 {% for subgroup in run.groups[group] %}
  <a href="#{{group}}_{{subgroup}}">{{group}} : {{subgroup}}</a><br>
 {% endfor %}
{% endfor %}

{% endblock %}


{% block content %}

<form name="MetricSelect" action="metricResults" method="get">

<table>

{% set metricInfo = run.metricInfo(run.metrics[0]) %}

<tr>
<th> </th>
{% for key in metricInfo %}
  <th> {{ key }} </th>
{% endfor %}
</tr>

 {% for group in run.groups %}
    {% for subgroup in run.groups[group] %}
       <tr> <td></td> <td colspan="3"><a name="{{group}}_{{subgroup}}">Group: <em>{{group }}</em>;  Subgroup: <em>{{ subgroup }}</em></a> </td>   </tr>
       {% set metrics = run.metricsInSubgroup(group, subgroup) %}
       {% for metric in metrics %}
          {% set metricInfo = run.metricInfo(metric) %}
          <tr> 	    
	  <td>
          <input type='checkbox' name="{{ metric['metricId'] }}" value="{{metric['metricId']}}">  
	  </td>
	  {% for key in metricInfo %}
          <td>{{ metricInfo[key]|escape }}</td> 
	  {% endfor %}
	  </tr>
	{% endfor %}
    {% endfor %}
 {% endfor %} 
<tr>
<td colspan="4">
<input type='submit' value='select'></form> 
</td>
</tr>

</table>
 
{% endblock %}
