{% extends "master.html" %}

{% set active_page = "listMetrics" %}

{% block moresidebar %}

<ul>
{% for g in run.groups.keys() %}
  <li>
  <a href="#{{g}}"> {{g}}</a> </br> 
  {% for sg in run.groups[g] %}
    <div id='indent'><a href="#{{g}}_{{sg}}">{{sg}}</a></div> 
 {% endfor %}
 </li>
{% endfor %}
</ul>

{% endblock %}


{% block content %}

<form name="MetricSelect" action="metricResults" method="get" target="_blank">

<table>

{% set metricInfo = run.metricInfo(run.metrics[0]) %}

<tr>
<th> </th>
{% for key in metricInfo %}
  <th> {{ key }} </th>
{% endfor %}
</tr>
  
<tr>
<td> </td>
<td colspan="3">
<input type='submit' value='Select Metrics'>
<input type='submit' value='All Metrics' name='all'>
</td>
</tr>
  
{% for group in run.groups %}
  {% set groupstart = True %}
  {% for subgroup in run.groups[group] %}
      <tr class="lightestgray">
	<td>
	  <input type='checkbox' name="Group_{{group}}__{{subgroup}}"
  value="{{ group }}__{{ subgroup }}">
	</td>
	<td colspan="3">
	{% if groupstart == True %}
	  <a name="{{group}}"></a>
	  {% set groupstart = False %}
	{% endif %}
	  <a name="{{group}}_{{subgroup}}">All  Group: <em>{{group
    }}</em>;   Subgroup: <em>{{ subgroup }}</em></a>
	 </td>
        </tr>
       {% set metrics = run.metricsInSubgroup(group, subgroup) %}
       {% for metric in metrics %}
          {% set metricInfo = run.metricInfo(metric) %}
          <tr> 	    
	  <td>
          <input type='checkbox' name="{{ metric['metricId'] }}" value="{{metric['metricId']}}"> 
	  </td>
	  {% for key in metricInfo %}
          <td>{{ metricInfo[key]|escape }}</td> 
	  {% endfor %}
	  </tr>
	{% endfor %}
    {% endfor %}
 {% endfor %} 
<tr>
<td> </td>
<td colspan="3">
<input type='submit' value='Select Metrics'>
<input type='submit' value='All Metrics' name='all'>
</form> 
</td>
</tr>

</table>

{% endblock %}
