<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>MAF Output</title>
</head>
<body>
    
<h1>RUNNAME: {{ runName  }}</h1>

<a href='#configSummary'>Config Summary and Details</a> <br>
<a href='#summaryStats'>Summary Statistics Table </a>

<hr><hr>

<!-- The regular metrics -->
  {% for b in blocks %}
  {{ b.NameInfo }}
  <table id="all plots">
    <tr>
      {% for filename in b.plots %}
      <td align='center'><a href='{{ outDir }}/{{ filename }}'><img width='80%' 
               src='{{ outDir }}/thumb.{{ filename }}'> </a></td>
        {% if loop.index is divisibleby 3 %}
            </tr><tr>
        {% endif %}
      {% endfor %}
    </tr>
  </table>
<table>
  {% for stat in b.stats %}
  <tr>
    <td> {{ stat[0] }} </td> <td> {{ stat[1] }} </td>
  </tr>
  {% endfor %}
</table>
<hr>
{% endfor %}


<!-- The completeness metrics -->
  {% for b in completenessBlocks %}
  {{ b.NameInfo }}
  <table id="Completeness plots">
    <tr>
      {% for filename in b.plots %}
      <td align='center'><a href='{{ outDir }}/{{ filename }}'><img width='80%' 
               src='{{ outDir }}/thumb.{{ filename }}'> </a></td>
        {% if loop.index is divisibleby 3 %}
            </tr><tr>
        {% endif %}
      {% endfor %}
    </tr>
  </table>
<table>
  {% for stat in b.stats %}
  <tr>
    <td> {{ stat[0] }} </td> <td> {{ stat[1] }} </td>
  </tr>
  {% endfor %}
</table>
<hr>
{% endfor %}

<!-- Group all the summary stats together -->


<h2> Completness Tables</h2>

<hr>

<h2> Unislicer Stats</h2>
<table>
  <tr>
     <td> <b>Name</b> </td> <td> <b>Ident</b> </td> 
    </tr>
    {% for stat in identStats %}
  <tr>
    <td> {{ stat.NameInfo }}</td>
    <td> {{ stat.stats.Identity }} </td>
</tr>
  {% endfor %}
</table>

<hr>

<h2> Basic Stats</h2>
<table>
  <tr>
     <td> <b>Name</b> </td> <td><b>Median</b>  </td>    <td> <b>Mean</b> </td> <td> <b>RMS</b> </td> 
    </tr>
    {% for stat in basicStats %}
  <tr>
    <td> {{ stat.NameInfo }} </td>
    <td> {{ stat.stats.Median }} </td><td> {{ stat.stats.Mean }} </td><td> {{ stat.stats.Rms }} </td> 
</tr>
  {% endfor %}
</table>

<hr>

 <!-- The configuration files -->
<a name="configSummary"></a>
<object width="400" height="300" type="text/plain" data="{{ outDir }}/configSummary.txt" border="0" >
</object>

<object width="400" height="300" type="text/plain" data="{{ outDir }}/configDetails.txt" border="0" >
</object>





</body>
</html>
